/*! review start */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box {           
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
    margin: 20px;
}
.review .box-container .box:last-child,
.review .box-container .box:first-child {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 3rem;
    background-color: #e2c69e;
}
.review h3{
    font-size: 3rem;
    color: #523e28;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.review .box-container .box p{
    font-size: 1.3rem;
    line-height: 1.8;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold;
}
/*! review end */
